Android/src/
Android/android-sdk/
Android/android-studio/

Anydesk/src/
Anydesk/anydesk-6.1.1/

Barrier/src/
Barrier/barrier/
Barrier/barrier.conf

Chromium/src/
Chromium/ungoogled-chromium_87.0.4280.141-1.1_linux/

FFmpeg/src/
FFmpeg/ffmpeg-4.4-amd64-static/

IPRF/

Java/OpenJDK/src/
Java/OpenJDK/jdk-11/

Mac/

Nmap/src/
Nmap/nmap-7.91/

Nodejs/src/
Nodejs/node-v14.16.1-linux-x64/

ReactNatIve/src/

Tree/src/
Tree/tree-1.8.0/

Typora/src/

VSCode/src/
VSCode/VSCode-linux-x64/
