Android/src
Android/android-studio
Android/SDK

Anydesk/src

Barrier/src

Chrome/src

Chromium/src

Curl/src

Docker/src

Expo/src

FFmpeg/src

Fonts/JetBrainsMono-2.225
Fonts/src
Fonts/old

Golang/go
Golang/src

Java/OpenJDK/jdk-11
Java/OpenJDK/src

Kubernetes/src

Nodejs/node-v16.14.2-linux-x64
Nodejs/src

TeamViewer/src

Tp-link/src

Tree/src

Typora/src

VLC/src

VSCode/src

WPS/src

ZSH/src
