Android/src
Android/android-studio
Android/SDK

Anydesk/src

Barrier/src

Chrome/src

Chromium/src

Curl/src

Docker/src

Espressif/5.0/esp-idf
Espressif/5.0/esp-idf-tools
Espressif/5.0/esp-protocols
Espressif/5.0/esp-idf-v5.0.zip

Expo/src

Espressif/esp
Espressif/espressif

FFmpeg/src

Fonts/JetBrainsMono-2.225
Fonts/src
Fonts/old

Golang/go
Golang/go-1.18.1
Golang/go-1.19.3
Golang/go-1.19.5.linux-amd64
Golang/src

Java/OpenJDK/jdk-11
Java/OpenJDK/src

Kubernetes/src

Nodejs/src

ReactNative/src

SonarScanner/sonar-scanner-4.7.0.2747-linux

Tp-link/src

Tree/src

Typora/src

VLC/src

VSCode/src

WPS/src

ZSH/src
